section.view.profile-view
    header.view__header.view-header
        div.view-header__controls
            a(href='/') Back
        h1.view-header__head Your profile
    div.view-content
        div.profile-view__data
            div.profile-view__datarow
                img(src='/avatar?'+Math.random() + '&avatar=' + profile.avatar height='100' width='100')
            div.profile-view__datarow
                p Username: #{profile.username}
            div.profile-view__datarow
                p Email: #{profile.email}
            div.profile-view__datarow
                p Score: #{profile.score}
            div.profile-view__datarow
                a(href=logoutLink.href) #{logoutLink.title}
        div.profile-view__form.js-profile-form
            include ../../common.blocks/form/form.tmpl.pug

//
    <section class="profile" hidden="true">
        <h1 class="profile__subheader">Your Profile</h1>
        <div class="profile-data"></div>
        <form class="profile-form">
            <input type="text" name="username" class="profile-form__username profile-form__input" placeholder="Username">
            <input type="email" name="email" class="profile-form__email profile-form__input" placeholder="Email">
            <input type="password" name="new_password" class="profile-form__new-password profile-form__input" placeholder="New password">
            <input type="password" name="new_password_repeat" class="profile-form__new-password-repeat profile-form__input"
                   placeholder="Repeat new password">
            <input type="file" name="avatar" class="profile-form__avatar" placeholder="path"
                   accept="image/jpeg,image/png"/>
            <div class="profile-form__validation"></div>
            <input class="profile-form__submit" type="submit">
            <input type="password" name="current_password" class="profile-form__current-password" placeholder="Current password">
        </form>
        <a href="" data-section="menu">Back</a>
    </section>